# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Logs
*.log

# Secrets
.env
.env.*
!.env.example
